# Windows tizim fayllari
System Volume Information/
DumpStack.log.tmp

# Node yoki boshqa platforma uchun umumiy
node_modules/
dist/
build/
.env

# Git submodule yoki boshqa ichki repo
Colpos-Center/

# IDE konfiguratsiyasi
.vscode/
.idea/

# OS-fayllar
.DS_Store
Thumbs.db
